<ul class="list">
  <li class="item">
    <a href="/page-123" class="link" title="Go to page 123 in the site.">
      <span class="link__icon icon" aria-hidden="true"></span>
      <span class="link__text">Text</span>
    </a>
  </li>
</ul>
