{# Logo Component #}
{# <div class="page__logo logo">{{ component.logo }}</div> #}

<a href="/home" class="logo__link" title="Go to the homepage of the site.">
  <img src="#" alt="Describe the image in great detail." class="logo__image" />
</a>
