{# Main Menu Component #}
{# <div class="page__menu--main main-menu" role="navigation">{{ component.main_menu }}</div> #}

<ul class="main-menu__list main-menu__list--alpha">
  <li class="main-menu__item main-menu__item--alpha">
    <a href="/page-123" class="main-menu__link main-menu__link--alpha" title="Go to page 123 in the site.">
      <span class="main-menu__link--icon icon" aria-hidden="true"></span>
      <span class="main-menu__link--text">Text</span>
    </a>
    <ul class="main-menu__list main-menu__list--beta">
      <li class="main-menu__item main-menu__item--beta"></li>
      <li class="main-menu__item main-menu__item--beta"></li>
      <li class="main-menu__item main-menu__item--beta"></li>
    </ul>
  </li>
  <li class="main-menu__item main-menu__item--alpa">
    <a href="/page-123" class="main-menu__link main-menu__link--alpha" title="Go to page 123 in the site.">
      <span class="link__icon icon" aria-hidden="true"></span>
      <span class="link__text">Text</span>
    </a>
    <ul class="main-menu__list main-menu__list--beta">
      <li class="main-menu__item main-menu__item--beta"></li>
      <li class="main-menu__item main-menu__item--beta"></li>
      <li class="main-menu__item main-menu__item--beta">
        <a href="" class="main-menu__link main-menu__link--beta"></a>
        <ul class="main-menu__list main-menu__list--charlie">
          <li class="main-menu__item main-menu__item--charlie"></li>
          <li class="main-menu__item main-menu__item--charlie"></li>
          <li class="main-menu__item main-menu__item--charlie"></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
