{# Sidebar Menu Component #}
{# <div class="page__sidebar sidebar" role="navigation">{{ component.sidebar_menu }}</div> #}

<ul class="sidebar__list sidebar__list--alpha">
  <li class="sidebar__item sidebar__item--alpha">
    <a href="/page-123" class="sidebar__link sidebar__link--alpha" title="Go to page 123 in the site.">Text</a>
  </li>
  <li class="sidebar__item sidebar__item--alpha">
    <a href="/page-123" class="sidebar__link sidebar__link--alpha" title="Go to page 123 in the site.">Text</a>
  </li>
  <li class="sidebar__item sidebar__item--alpha">
    <a href="/page-123" class="sidebar__link sidebar__link--alpha" title="Go to page 123 in the site.">Text</a>
  </li>
  <li class="sidebar__item sidebar__item--alpha">
    <a href="/page-123" class="sidebar__link sidebar__link--alpha" title="Go to page 123 in the site.">Text</a>
  </li>
  <li class="sidebar__item sidebar__item--alpha">
    <a href="/page-123" class="sidebar__link sidebar__link--alpha" title="Go to page 123 in the site.">Text</a>
  </li>
</ul>
