{# Slideshow Component #}
{# <div class="page__banner page__banner--slideshow slideshow">{{ component.slideshow }}</div> #}

<div class="slideshow">
  <div class="slideshow__main-image">Main Image</div>
  <div class="slideshow__thumbnails">Thumbnail Images</div>
  <div class="slideshow__actions" role="controls">
    <div>Arrows</div>
    <div>Controls</div>
  </div>
</div>
