{# Teaser with Image Component #}
<div class="teaser">
  <a href="#" class="teaser__link teaser__link--image-wrapper" aria-hidden="true" tabindex="-1">
    <img src="#" alt="Describe the image in great detail." class="teaser__image" />
  </a>
  <h2 class="teaser__title">Title</h2>
  <p>Description</p>
  <p><a href="/page-456" class="teaser__link" title="Go to page 456 in the site.">Learn More<span class="icon icon--chevron-right" aria-hidden="true"></span></a></p>
</div>

{# Teaser No Image Component #}
<div class="teaser">
  <h2 class="teaser__title">Title</h2>
  <p>Description</p>
  <p><a href="/page-456" class="teaser__link" title="Go to page 456 in the site.">Learn More<span class="icon icon--chevron-right" aria-hidden="true"></span></a></p>
</div>
